*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   /* background-color: rgb(105, 103, 103);  */
   background-image: url(../shara\ desert.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
    width: 500px;
    height: 500px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
}
.tool{
    width: 300px;
    height: 300px;
    background-color: black;
    position: fixed;
    left: 55%;
}
.form-group{
    padding: 25px 20px;
    color: white;
    display: flex;
    flex-direction:column ;
    gap: 10px;
}
.span{
    background-color: white;
    color: black;
    padding:2px 4px;
}
.form-group textarea{
    position: absolute;
    top: 55%;
    padding: 15px;
    font-size: 16px;
    width: 260px;
    height: 80px;
    resize: none;
}
.btn button{
    color: black;
    background-color: rgba(42, 125, 233, 0.849);
    position: absolute;
    bottom: 5%;
    left: 35%;
    padding: 5px;
}
.btn button:hover{
    opacity: 0.6;
}
.outbox{
    color: black;
    display:inline ;
}
.outbox input{
    position: relative;
    top: 4px;
    left: 6px;
    width: 80px;
}
.outbox label{
    color:white;
    padding-left: 30px;
}

